body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: sans-serif;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td {
    padding: 10px;
}